@import "../../mainStyle";

header {
  width: fit-content;
  background-color: $liteShade;
  text-align: center;
  padding: 50px 0 20px;
  @include tablet() {
    width: 100%;
  }
}
h1 {
  text-transform: uppercase;
  color: $PrimaryText;
  font-size: 80px;
}
h2 {
  font-size: 20px;
  color: $SecondaryText;
  span {
    color: $starColor;
  }
}
